In [70]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import csv

## Data Description

    Date:    The date this data pertains to.
    Open:    The opening price for the asset on the given date.
    High:    The high price for the asset on the given date.
    Low:     Low proce for theasset on the given date
    close:   closing proce for the asset on given date.
    Volume:  The number of shares traded on IEX only.

In [71]:
# getting data from tiingo webesite using API 
'''
ticker name= stock name in tiingo website
Start Date= Date from when we need historical data of a stock(format YYYY-MM-DD)
resampleFreq = This allows you to set the frequency in which you want data resampled. For example "1hour" would return the data where OHLC is calculated on an hourly schedule.

'''
def data_extraction(ticker_name,startDate,resampleFreq,token):
    url="https://api.tiingo.com/iex/{}/prices?startDate={}&resampleFreq={}&columns=open,high,low,close,volume&token={}".format(ticker_name,startDate,resampleFreq,token)

    data=requests.get(url)
    dataset=data.json()
    return dataset
    
json_dataset=data_extraction(ticker_name='aapl',startDate='2019-01-02',resampleFreq='1hour',token='a159a3a83b1754845d7353fbec1c9f2902d4a8e1')

In [72]:
stock_df=pd.json_normalize(json_dataset)
stock_df

                          date     open     high      low    close    volume
0     2019-01-02T15:00:00.000Z  155.140  157.190  154.575  156.850   85705.0
1     2019-01-02T16:00:00.000Z  156.850  158.340  156.740  157.065   71070.0
2     2019-01-02T17:00:00.000Z  157.065  158.395  156.925  158.160   45895.0
3     2019-01-02T18:00:00.000Z  158.170  158.820  158.135  158.725   44166.0
4     2019-01-02T19:00:00.000Z  158.730  158.735  157.770  157.910   71703.0
...                        ...      ...      ...      ...      ...       ...
8210  2023-06-30T20:00:00.000Z  193.010  194.485  192.885  193.890       0.0
8211  2023-07-03T14:00:00.000Z  192.960  193.165  191.750  191.985  150108.0
8212  2023-07-03T15:00:00.000Z  191.975  192.515  191.895  192.220   92367.0
8213  2023-07-03T16:00:00.000Z  192.220  192.555  191.990  192.460  135488.0
8214  2023-07-03T17:00:00.000Z  192.420  192.490  192.320  192.490     232.0

[8215 rows x 6 columns]

## checking NULL values

In [73]:
stock_df.isnull().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

#### Observation:  
    NO null values

## Checking data types

In [74]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8215 entries, 0 to 8214
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    8215 non-null   object
 1   open    8215 non-null   float64
 2   high    8215 non-null   float64
 3   low     8215 non-null   float64
 4   close   8215 non-null   float64
 5   volume  8215 non-null   float64
dtypes: float64(5), object(1)
memory usage: 385.2+ KB

In [75]:
## converting date column into datetime format

stock_df['date']=pd.to_datetime(stock_df['date'])

## Checking data from period to period

In [69]:
stock_df.head(),stock_df.tail()

(                       date     open     high      low    close   volume
 0 2019-01-02 15:00:00+00:00  155.140  157.190  154.575  156.850  85705.0
 1 2019-01-02 16:00:00+00:00  156.850  158.340  156.740  157.065  71070.0
 2 2019-01-02 17:00:00+00:00  157.065  158.395  156.925  158.160  45895.0
 3 2019-01-02 18:00:00+00:00  158.170  158.820  158.135  158.725  44166.0
 4 2019-01-02 19:00:00+00:00  158.730  158.735  157.770  157.910  71703.0,
                           date     open     high      low    close    volume
 8210 2023-06-30 20:00:00+00:00  193.010  194.485  192.885  193.890       0.0
 8211 2023-07-03 14:00:00+00:00  192.960  193.165  191.750  191.985  150108.0
 8212 2023-07-03 15:00:00+00:00  191.975  192.515  191.895  192.220   92367.0
 8213 2023-07-03 16:00:00+00:00  192.220  192.555  191.990  192.460  135488.0
 8214 2023-07-03 17:00:00+00:00  192.420  192.490  192.320  192.490     232.0)

### Observation
    data is 
    starting--------------'2019-01-02'
    till------------------'2023-07-03'